<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="appName"
		source="spring.application.name" defaultValue="bpm-job" />
	<!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】,,, -->
	<!-- appender是configuration的子节点，是负责写日志的组件。 -->
	<!-- ConsoleAppender：把日志输出到控制台 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p (%file:%line\)- %m%n</pattern>
			<!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- 控制台输出日志级别 -->

	<springProfile name="dev">
		<!-- 开发环境时激活 -->
		<root level="info">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

    <springProfile name="product">
        <!-- 生产环境时激活 -->
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="itn">
        <!-- 生产环境时激活 -->
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

	<springProfile name="uat">
		<!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
		<root level="ERROR">
		</root>
		<!-- 指定项目中某个包，当有日志操作行为时的日志记录级别 -->
		<logger name="com.zrar.easyweb" level="DEBUG">
			<!-- <appender-ref ref="STDOUT"/> -->
			<appender-ref ref="syslog" />
		</logger>
	</springProfile>

</configuration>
